{% extends "base.html" %}
{% block title %}Редактировать профиль{% endblock %}

{% block content %}
<h2>Редактировать профиль</h2>

<form method="post" enctype="multipart/form-data">
    <label>Загрузить аватар:</label><br>
    <input type="file" name="avatar"><br><br>

    <label>Дата рождения (ГГГГ-ММ-ДД):</label><br>
    <input type="date" name="birthdate" value="{{ user.birthdate }}"><br><br>

    <label>Статус:</label><br>
    <input type="text" name="status" value="{{ user.status }}"><br><br>

    <label>О себе:</label><br>
    <textarea name="about" rows="5" cols="40">{{ user.about }}</textarea><br><br>

    <button type="submit">Сохранить</button>
</form>

{% endblock %}