{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<h2>Регистрация</h2>
<form method="POST">
    <label>Имя пользователя:</label><br>
    <input type="text" name="username" required><br><br>
    
    <label>Пароль:</label><br>
    <input type="password" name="password" required><br><br>
    
    <label>Подтвердите пароль:</label><br>
    <input type="password" name="confirm_password" required><br><br>

    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>
    
    <input type="submit" value="Зарегистрироваться">
</form>
{% endblock %}
